<% include partials/header %>


<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    
        <div class="container">
                <table border="2">
                  <tr>
                    <th>Customer Name</th>
                    
                    <th>Phone no</th>
                    <th>Problem</th>
                    <th>Description</th>
                    <th>Worker name</th>
                    <th>Category</th>
                  </tr>
        
                  <% campgrounds.forEach(function(campground){ %> 
                  <tr>
                    <td>
                      <p>
                       <%= campground.name %>
                       
                       
                        
                        
                      </p>
                    </td>
                <td><p><%= campground.phone %></p></td>
                    <td><%= campground.problem %></td>
                    <td>
                      <p><%= campground.description %></p>
                    </td>
                    <td> <%= campground.mecname %></td>
                  
                <td> <%= campground.category %></td>
              </tr>
                  <% }); %>
        
            
                </table>
              </div>
            </div>
    

</div>
</div>

<% include partials/footer %>